<%- include("Templates/Head")%>
<%- include("Templates/Topbar-Start")%>
<body>
    <%- include("Templates/Navbar")%>
    <%- include('Templates/Header', {tituloweb: 'Contact'}); %>

    <!-- Contact Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">Contact Us For Any Query</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="contact-form bg-light rounded p-5">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="form-row">
                                <%- include('Cards/control-group', {id: 'name', placeholder: 'Your name', message: 'Please enter your name'}); %>
                                <%- include('Cards/control-group', {id: 'email', placeholder: 'Your Email', message: 'Please enter your email'}); %>
                                <%- include('Cards/control-group', {id: 'subject', placeholder: 'Your Subject', message: 'Please enter a subject'}); %>
                                <%- include('Cards/control-group', {id: 'message', placeholder: 'Your Message', message: 'Please enter your message'}); %>
                            <div>
                                <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <%- include("Templates/Footer")%>
    <script src="js/main.js"></script>
</body>

</html>