<%- include("Templates/Head")%>
<%- include("Templates/Topbar-Start")%>
<body>
    <%- include("Templates/Navbar")%>
    <%- include('Templates/Header', {tituloweb: 'Gallery'}); %>

    <!-- Portfolio Start -->
    <div class="container-fluid py-5 px-0">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <h1 class="section-title position-relative text-center mb-5">Delicious Ice Cream Made From Our Very Own Organic Milk</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="list-inline mb-4 pb-2" id="portfolio-flters">
                        <li class="btn btn-sm btn-outline-primary m-1 active"  data-filter="*">All</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".first">Cone</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".second">Vanilla</li>
                        <li class="btn btn-sm btn-outline-primary m-1" data-filter=".third">Chocolate</li>
                    </ul>
                </div>
            </div>
            <div class="row m-0 portfolio-container">
                <%- include('Cards/Portfolio', {PortfolioImg: 'img/portfolio-1.jpg'}); %>
                <%- include('Cards/Portfolio', {ortfolioImg: 'img/portfolio-2.jpg'}); %>
                <%- include('Cards/Portfolio', {ortfolioImg: 'img/portfolio-3.jpg'}); %>
                <%- include('Cards/Portfolio', {PortfolioImg: 'img/portfolio-4.jpg'}); %>
                <%- include('Cards/Portfolio', {PortfolioImg: 'img/portfolio-5.jpg'}); %>
                <%- include('Cards/Portfolio', {PortfolioImg: 'img/portfolio-6.jpg'}); %>
            </div>
        </div>
    </div>
    <!-- Portfolio End -->

    <%- include("Templates/Footer")%>
    <script src="js/main.js"></script>
</body>

</html>