<%- include("Templates/Head")%>
<%- include("Templates/Topbar-Start")%>
<body>
    <%- include("Templates/Navbar")%>
    <%- include('Templates/Header', {tituloweb: 'Products'}); %>

    <!-- Products Start -->
         <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative mb-5">Best Prices We Offer For Ice Cream Lovers</h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel product-carousel">

                        <%- include('Cards/Product', {ProductsImg: 'img/product-1.jpg'}); %>
                        <%- include('Cards/Product', {ProductsImg: 'img/product-2.jpg'}); %>
                        <%- include('Cards/Product', {ProductsImg: 'img/product-3.jpg'}); %>
                        <%- include('Cards/Product', {ProductsImg: 'img/product-4.jpg'}); %>
                        <%- include('Cards/Product', {ProductsImg: 'img/product-5.jpg'}); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->
     
    <%- include("Templates/Footer")%>
    <script src="js/main.js"></script>
</body>

</html>