<%- include("Templates/Head")%>
<%- include("Templates/Topbar-Start")%>
<body>
    <%- include("Templates/Navbar")%>
    <%- include('Templates/Header', {tituloweb: 'Service'}); %>

    <!-- Services Start -->
   <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative mb-5">Best Services We Provide For Our Clients</h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0 pb-5 pb-lg-0"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel service-carousel">
                        <%- include('Templates/Header', {ServiceImg: 'img/service-1.jpg'}); %>
                        <%- include('Templates/Header', {ServiceImg: 'img/service-2.jpg'}); %>
                        <%- include('Templates/Header', {ServiceImg: 'img/service-3.jpg'}); %>
                        <%- include('Templates/Header', {ServiceImg: 'img/service-4.jpg'}); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1 class="section-title position-relative text-center mb-5">Clients Say About Our Famous Ice Cream</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="owl-carousel testimonial-carousel">
                        <%- include('Cards/Portfolio', {PortfolioImg: 'img/testimonial-1.jpg'}); %>
                        <%- include('Cards/Portfolio', {PortfolioImg: 'img/testimonial-2.jpg'}); %>
                        <%- include('Cards/Portfolio', {PortfolioImg: 'img/testimonial-3.jpg'}); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <%- include("Templates/Footer")%>
    <script src="js/main.js"></script>
</body>

</html>